@{
    ViewData["Title"] = "Lista de Productos";
}

<h2>Lista de Productos</h2>
<input type="text" id="txtFiltrerName" />
<input type="text" id="txtFiltrerPrice" />

<button id="searchButton" class="btn btn-primary">Buscar</button>
<table class="table">
    <thead>
        <tr>
            <th>ID</th>
            <th>Name</th>
            <th>Price</th>
            <th>Expiration Date</th>
        </tr>
    </thead>
    <tbody>

    </tbody>
</table>

<button id="createProductButton" class="btn btn-primary">Crear Producto</button>

<div class="modal fade" id="createProductModal" tabindex="-1" role="dialog" aria-labelledby="createProductLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="createProductLabel">Crear Producto</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <!-- El contenido del modal se carga aquí -->
            </div>
        </div>
    </div>
</div>

<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>


<script>
    $(document).ready(function(){
        
        $('#searchButton').click(function (){
            loadProduct();
        });

        $('#createProductButton').click(function () {
            $.ajax({
                type: "GET",
                url: "/Product/CreateProduct",
                success: function (response) {

                    $('.modal-body').html(response);
                    $('#createProductModal').modal('show');
                },
                error: function () {
                    alert('Hubo un error al cargar el formulario.');
                }
            });
        });

        function loadProduct() {
            var filterName = $('#txtFiltrerName').val();
            var filterPrice = $('#txtFiltrerPrice').val();
            $.ajax({
                type: "GET",
                url: "/Product/GetProducts",
                data: {
                    name: filterName,
                    price: filterPrice
                },
                success: function (products) {
                    var tableBody = $('table tbody');
                    tableBody.empty();

                    products.forEach(function (product) {
                        var newRow = `
                            <tr>
                                <td>${product.productID}</td>
                                <td>${product.name}</td>
                                <td>${product.price}</td>
                                <td>${product.expirationDate}</td>
                            </tr>
                        `;
                        tableBody.append(newRow);
                    });
                },
                error: function () {
                    alert('Hubo un error al listar los productos');
                }
            });
        }

        loadProduct();



    });

    

</script>


@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}